/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
main {
    font-family: 'Alfa Slab One', serif;
    /*Fonte para o site*/
}

/* Parte de Cima */

.textologo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.logo-wrapper {
    /*wrapper serve para "embrulha", envolver, outros objetos afim de adicionar algum atributo ao conjunto ou melhor organizar seu código.*/
    position: relative;
    /*eleciona o elemento e sua posição original como ponto de referência, ou seja, facilita no @media*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /*flex define o elemento cresça para q ele ocupe o espaço disponivel no seu container*/
    min-width: 300px;
}

.textocima {
    text-align: center;
    color: #111;
    flex: 1;
    min-width: 250px;
}

.texto h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.texto p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.logo-ifsp {
    display: grid;
    /*Arruma em linha e coluna*/
    grid-template-columns: repeat(3, 50px); /*3 colunas com 50px de tamanho*/
    grid-template-rows: repeat(4, 50px); /*4 linhas com 50px de tamanho*/
    gap: 8px;
    /* um tipo de espaçamento*/
    position: relative;
}

.quadrado {
    width: 50px;
    height: 50px;
    background-color: #2E7D32;
    border-radius: 10px; /* borda arredondada*/
}

.bolinha {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    opacity: 0; /* para nn bugar a animação no inicio*/
}

.vazio {
    visibility: hidden; /* deixa invisivel para facilitar a logo*/
}

/* Imagens */
.chapeu {
    position: absolute; /* os outros elementos nn se importam com ele, facilitando ele se mexer e o @media*/
    top: -38px;
    left: 43px;
    width: 70px;
    height: auto;
}

.garfo {
    width: 30px;
    height: auto;
    transition: 2s;
}

.garfo:hover {
    transform: rotate(45deg);
}

.faca {
    width: 30px;
    height: auto;
    transition: 2s;
}

.faca:hover {
    transform: rotate(-45deg);
}

.utensilios {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.textocima p {
    width: 260px;
    overflow: hidden; /*começa nn aparecendo*/
    /* borda laranja */
    border-right: .1em solid orange;
    white-space: nowrap;
    /* mantem tudo em uma unica linha */
    margin: 0 auto;
    /* da o efeito de digitação com o animation */
    animation:
        texto2 3.5s steps(40),
        cursor-piscando .75s step-end infinite;
}

/* @medias */

/*Celular*/
@media (max-width: 600px) {
    .linha {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .logo-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    .chapeu {
        position: absolute;
        top: -30px;
        left: -135px;
        transform: translateX(-50%);
        width: 50px;
        height: auto;
    }

    .logo-ifsp {
        grid-template-columns: repeat(3, 35px);
        grid-template-rows: repeat(4, 35px);
        gap: 5px;
    }

    .quadrado, .bolinha {
        width: 35px;
        height: 35px;
    }

    .garfo, .faca {
        width: 20px;
    }

    .textocima h1 {
        font-size: 22px;
    }

    .textocima p {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .1em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        animation:
            texto2 1.5s steps(0),
            cursor-piscando .75s step-end infinite;
    }

    .utensilios {
        justify-content: center;
    }
}

/*Tablet*/
@media (min-width: 601px) and (max-width: 1023px) {
    .linha {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .logo-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        position: relative;
    }

    .chapeu {
        position: absolute;
        top: -25px;
        left: -153px;
        transform: translateX(-50%);
        width: 60px;
        height: auto;
    }

    .logo-ifsp {
        grid-template-columns: repeat(3, 40px);
        grid-template-rows: repeat(4, 40px);
        gap: 6px;
    }

    .quadrado, .bolinha {
        width: 40px;
        height: 40px;
    }

    .garfo, .faca {
        width: 25px;
    }

    .texto h1 {
        font-size: 28px;
    }

    .texto p {
        font-size: 16px;
        width: 30px;
        height: 20px;

    }

    .utensilios {
        justify-content: center;
    }

    .bloco {
        height: 500px;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto-frente, .texto-atras{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}


/*Keyframes e configurações das animações*/
@keyframes da-esquerda {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
        background-color: orange;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: #2f9e41;
    }
}

@keyframes da-direita {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: #2f9e41;
    }
}

@keyframes do-topo {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
        background: blue;
    }

    25% {
        transform: rotateX('180');
        transform: translateX(-100vh);
        background-color: darkgoldenrod;
    }

    50% {
        transform: translateY(50vh);
        opacity: 1;
    }

    100% {
        transform: rotateX('360');
        transform: translateY(0);
        opacity: 1;
        background-color: #2f9e41;
    }

}


@keyframes de-baixo {
    0% {
        transform: translateY(100vh);
        opacity: 0;
        background-color: aqua;
    }

    25% {
        transform: translateX(50vh);
        opacity: 1;
    }

    50% {
        transform: translateX(25vh);
        opacity: 1;
        background-color: rgb(92, 54, 182);
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        background-color: #2f9e41;
    }
}

@keyframes da-bola {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100vh);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        background-color: black;
    }
}

@keyframes da-bola2 {
    0% {
        transform: translateY(-50vh);
        opacity: 0;
    }

    50% {
        transform: translateY(0vh);
        opacity: 1;
        background-color: blueviolet;
    }

    75% {
        transform: translateY(-25vh);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        background-color: red;
    }

}

@keyframes garfo {
    0% {
        transform: translateY(-200vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes chapeu {
    0% {
        transform: translateY(-300vh);
        opacity: 0;
    }

    100% {
        transform: translateX(185px);
        opacity: 1;
    }
}

@keyframes texto1 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes texto2 {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes cursor-piscando {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.animate-da-esquerda {
    animation: da-esquerda 2s ease-out forwards;
}

.animate-da-direita {
    animation: da-direita 2s ease-out forwards;
}

.animate-do-topo {
    animation: do-topo 2s ease-out forwards;
}

.animate-de-baixo {
    animation: de-baixo 2s ease-out forwards;
}

.animate-da-bola {
    animation: da-bola 1s ease-out forwards;
}

.animate-da-bola2 {
    animation: da-bola2 1s 2s ease-out forwards;
}

.animate-garfo {
    animation: garfo 2s 3s linear backwards;
}

.animate-chapeu {
    animation: chapeu 5s linear forwards;
}

.animate-texto1 {
    animation: texto1 2s linear forwards;
}

/* ease-out é: animação começa rápida e depois desacelera suavemente no final*/
/* forwards é: mantém o estado final da animação mesmo após ela terminar*/
/* linear é: escala normal*/

/* Configuração do bloco que estão os textos*/
.bloco {
    height: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texto secundario inicia sem mostrar*/
.texto-atras {
    opacity: 0;
    text-decoration: none;
    color: white;
}

/* Efeito hover (Ao passar o mouse em cima texto principal some)*/
.texto:hover .texto-frente {
    opacity: 0;
}

/* Efeito hover (Ao passar o mouse em cima texto secundario aparece)*/
.texto:hover .texto-atras {
    opacity: 1;
}